<div class="container" style="max-width: 800px">
	
		    <div class="campo">
		        <label for="nome">Nome:</label>
		        <input type="text" name="nome" id="nome" [(ngModel)]="nome" required>
		    </div>
		    <div class="campo">
		        <label for="sigla">Sigla:</label>
		        <input  type="text" name="sigla" id="sigla" [(ngModel)]="sigla" required>
		    </div>
			<div class="campo">
		        <label for="snome">Periodo do evento:</label>

		        <input id="evento_de" type="date" [(ngModel)]="eDe" required>

		        <label for="snome">até</label>
		        <input  id="evento_ate" type="date" [(ngModel)]="eAte" required>
		    </div>
		    <div class="campo">
		        <label for="snome">Periodo de submição:</label>

		        <input id="subi_de" type="date" [(ngModel)]="sDe" required>

		        <label for="snome">ate</label>
		        <input id="subi_ate" type="date" [(ngModel)]="sAte" required>
		    </div>
		    <select class="form-control" id="area" [(ngModel)]="area">
		    	<option value="-1">Selecione uma Àrea</option>
			  	<option *ngFor="let item of areas" value="{{item.id}}">{{item.area_de_pesquisa}}</option>
			</select>
		    <div id='palavrasList'>
				<div *ngFor="let item of palavras" class="form-check form-check-inline">
			  		<input class="form-check-input" (change)="chekboxObserve($event)"  type="checkbox" value="{{item.id}}"  >
			  		<label class="form-check-label"  for="inlineCheckbox">{{item.palavra}}</label>
				</div>
			</div>

		    <div id="resposta"></div>
		    <br/>
			<button class="btn btn-primary" (click)="cria()">Enviar</button>
			<div class="alert " >
		      {{mensagem}}
		    </div>

</div>