<div class="container">
	<div class="row">
<div class= ' center-block col-12'>
	<h3>Artigos em Revição:</h3>
	<table class='table table-dark'>
    <thead>
        <tr>
        	<th scope='col'>Id</th>
            <th scope='col'>Titulo</th>
            <th scope='col'>Evento</th>
            <th scope='col'>Situação</th>
        </tr>
    </thead>
    	<tbody>
		        <tr *ngFor="let item of artigosEmRevisao" id="evento-{{item.id}}">
		          <th scope='row'>{{item.id}}</th>
		          <td>{{item.titulo}}</td>
		          <td>{{item.nome}} ,{{item.sigla}}</td>
		          <td>{{item.status}}</td>
		        </tr>
	    </tbody>
	</table>

	<h3>Artigos Indicados para vc revisar:</h3>

    <table class='table table-dark'>
    <thead>
        <tr>
        	<th scope='col'>Id</th>
            <th scope='col'>Titulo</th>
            <th scope='col'>Evento</th>
            <th scope='col'>Situação</th>
        </tr>
    </thead>
    	<tbody>
		        <tr *ngFor="let item of artigosIndicados" id="evento-{{item.id}}">
		          <th scope='row'>{{item.id}}</th>
		          <td>{{item.titulo}}</td>
		          <td>{{item.nome}} ,{{item.sigla}}</td>
		          <td>{{item.status}}</td>
		          <td><button type="submit" *ngIf="artigosEmRevisao.length < 2" class="btn btn-primary" (click)="aceita(item)">Aceitar Revisar</button></td>
		        </tr>
	    </tbody>
	</table>

	<h3>Artigos que você revisou:</h3>

    <table class='table table-dark'>
    <thead>
        <tr>
        	<th scope='col'>Id</th>
            <th scope='col'>Titulo</th>
            <th scope='col'>Evento</th>
            <th scope='col'>Situação</th>
        </tr>
    </thead>
    	<tbody>
		        <tr *ngFor="let item of artigosRevisados" id="evento-{{item.id}}">
		          <th scope='row'>{{item.id}}</th>
		          <td>{{item.titulo}}</td>
		          <td>{{item.nome}} ,{{item.sigla}}</td>
		          <td>{{item.status}}</td>
		        </tr>
	    </tbody>
	</table>
</div>
</div>
</div>