<div class="container" style="max-width: 500px">
    <div class="campo form-group">
      <label >Nome da Área:</label>
      <input type="text" class="form-control" [(ngModel)]="valorBuscado" >
    </div>
    <button class="btn btn-primary" (click)="buscar()">Buscar</button>
</div>
  <br/>
  <div id ="resposta" class="container">
  	<table class='table table-dark'>

    <thead>
        <tr>
            <th scope='col'>Id</th>
            <th scope='col'>Àrea</th>
        </tr>
    </thead>
    	<tbody>
	        <tr *ngFor="let item of areas">
	          <th scope='row'>{{item.id}}</th>
	          <td>{{item.area_de_pesquisa}}</td>
	          <td></td>
	          <td></td>
	        </tr>
	    </tbody>
	</table>



  </div>